
.element {
    margin: 0 auto;
    transform: translateX(-100%); /* Start off-screen at the left */
    transition: transform 1s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    overflow: scroll;
}
.appointment.open {
  background: black;
}

.element.open {
    transform: translateX(0); /* Slide into view */
}


.toggle-button, .user-toggle-button, .appointment-button{
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    /* z-index: 3; */
}
.appointment-button{
    z-index: 1;
}
.toggle-button.slide, .user-toggle-button.slide {
    transform: translate(120px, 110px);
    position: fixed;
    left: -100px;
    top: -100px;
    z-index: 10;
    transition: transform 1s ease-in-out 1s, opacity 0.5s ease-in-out 1s, visibility 1s ease-in-out 1s;

  }
  
  .appointment-button.slide {
    transform: translate(120px, -110px);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    transition: transform 1s ease-in-out 1s, opacity 0.5s ease-in-out 1s, visibility 1s ease-in-out 1s;
  }

/* bounce animation */

  @keyframes bounce { 
    0% { 
        transform: translateY(0); 
    } 
    50% {
        transform: translateY(-30px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 
.button { 
    background-color: blue; 
    transform: scale(1); 
    transition: background-color 0.3s ease; 
    animation: bounce 1s ease infinite; 
} 
.button:hover { 
    background-color: green; 
    transform: scale(1.2); 
}